<h1>New Booking</h1>

<%= form_with model: @booking, local: true, html: { class: "booking-form" } do |form| %>
  <div class="form-group">
    <%= form.label :first_name, "First Name" %><br>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name, "Last Name" %><br>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :animal_name, "Animal Name" %><br>
    <%= form.text_field :animal_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :animal_type, "Animal Type" %><br>
    <%= form.select :animal_type, ['Dog', 'Cat'], {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :hours_requested, "Hours Requested" %><br>
    <%= form.number_field :hours_requested, in: 2..8, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date_of_service, "Date of Service" %><br>
    <%= form.date_field :date_of_service, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= form.submit "Book Now", class: "submit-button" %>
  </div>
<% end %>

<%= link_to 'Back', bookings_path, class: "back-link" %>
