<!DOCTYPE html>
<html>
  <head>
    <title>LoadUp Pet Sitting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash_messages' %>
    
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
