<!DOCTYPE html>
<html>
  <head>
    <title>LoadUp Pet Sitting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "flash #{name}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
